* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-style: 16px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg-green {
  background-color: green;
  height: 10vh;
}

.container {
  width: 960px;
  margin: auto;
}

.bg-dark {
  background-color: #000;
  height: 10vh;
}

.vh-50 {
  height: 50vh;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

h1,
.h1 {
  font-size: 3rem;
  color: cornflowerblue;
}

.text-uppercase {
  text-transform: uppercase;
}

/* figure {
  width: 600px;
  border: solid 3px rgb(53, 156, 79);
  padding: 1rem;
  border-radius: 1rem;
} */

/* figcaption {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 50px;
  font-size: 1.2rem;
  line-height: 50px;
} */

.img-fluid {
  display: block;
  max-width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.bg-blue {
  background-color: blue;
  height: 10vh;
}

.bg-red {
  background-color: red;
  height: 10vh;
}

.item {
  width: 25%;
  padding: 1rem;
  float: left;
}

.clear {
  clear: both;
}

nav {
  background-color: black;
  display: flex;
  align-items: center;
}

ul {
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0;
}

li {
  color: #fff;
  width: 20%;
  background-color: #b4b4b4;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}


li:hover,
.active {
  background-color: rgb(127, 162, 202);
}

li.active a,
li:hover a {
  color: #2f3a7c;
}

html {
  scroll-behavior: smooth;
}

.menu-destra {
  margin: 0 0 0 auto;
}

.logo {
  aspect-ratio: 1 / 1;
  width: 48px;
  background-color: #fff;
  float: left;
  margin-left: 1rem;
}

.logo:hover {
  background: yellow;
  border-radius: 50%;
}

header {
  height: calc(100vh - 80px - 1rem);
  background-repeat: no-repeat;
  background-image: url("../img/beatles-abbey-road.jpg");
  background-size: cover;
  background-position: center left;
}

header h1 {
  text-align: center;
  line-height: calc(100vh - 80px - 1rem);
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.635);
}

header h1 span {
  text-transform: uppercase;
}

.col-4,
.col-8,
.col-6,
.col-12 {
  padding: 3px;
  height: 25vh;
  padding: 0 1rem;
  float: left;
  padding: 10px;
}

.col-4 {
  width: 33.333%;
}
.col-6 {
  width: 50%;
}
.col-8{
width: 66.666%;
}
.col-12 {
  width: 100%
}
.elemento {
  margin: 3rem 0;
}

.elemento h2 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin-bottom: 1rem;
}

.elemento p {
  margin-bottom: 1rem;
}

.elemento figcaption {
  text-align: center;
  padding: .5rem 0;
  font-size: 1.5rem;
}

.image-active {
  float: left
}

.clear {
  clear: both;
}

.img-fluid {
  max-width: 100%;
}

a {
  color: blue;
}

.col-9 {
  padding: 0 1rem;
  float: right;
}

.sepia {
  filter: sepia(100%);
}

.grayscale {
  filter: grayscale(100%)
}

.inverted {
  filter: invert(100%)
}

.blur {
  filter: blur(150px)
}
.seppia {
  filter: invert(100%) grayscale(100%);
}
